*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(img/background.jpg);
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: rgba(224, 255, 246, 0.822);
    width: 100%;
    height: 150px;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 90px;
}

.logo{
    display: flex;
    align-items: center;
    width: 150px;
    height: 90px;
    margin-top: 5px;
    margin-right: 100px;
}

.logo img{
    width: auto;
    height: 130px;
}

header nav{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    width: 80%;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.623);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 10% 100%);
}

header a{
    color: #ED910D;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 1.7em;
    text-decoration: none;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 100px;
}

header a:hover{
    color: #DB5212;
    font-family:'Source Sans Pro', sans-serif;
    font-size: 1.7em;
    text-decoration: none;
}

nav img{
    width: auto;
    height: 30px;
    margin-bottom: 10px;
}

.submenu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #F8B037;
    width: 100%;
    height: 80px;
}

.submenu nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    height: 80px;
}

.submenu a{
    color: #ffffff;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    font-weight: 300;
    font-size: 1.7em;
    text-decoration: none;
}

.submenu a:hover{
    color: #DB5212;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 1.7em;
    text-decoration: none;
}

.titulo{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 40%;
    height: auto;
    margin: 40px;
}

h2{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 4em;
    text-align: center;
    color: #DB5212;
}

.columnas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

.menu2{
    display: flex;
    flex-direction: column;
    width: 20%;
    float: left;
    margin-left: 80px;
}

.icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li{
    background: url(img/botonli.png) no-repeat left;
    background-position-y: 5px;
    height: 30px;
    padding-left: 35px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color: #F8B037;
    font-size: 2em;
    margin-top: 15px;
}

li:hover{
    background: url(img/botonli2.png) no-repeat left;
    background-position-y: 5px;
    
}

.dot1{
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: 0 10px 0 30px;
    background-color: rgb(51, 119, 221);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot1:hover{
    background-color: rgb(120, 164, 231);
}

.dot{
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: 0 10px 0 0;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot:hover{
    background-color: #c7c1b8;
}

.dot3{
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: 0 10px 0 0px;
    background-color: rgb(21, 23, 26);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot3:hover{
    background-color: rgb(45, 46, 48);
}

.dot2{
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: 0 10px 0 0px;
    background-color: rgb(123, 124, 126);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot2:hover{
    background-color: rgb(181, 182, 184);
}

.productos{
    display: flex;
    flex-direction: column;
    width: 75%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.425);
    margin: 0 90px 0 0;
}

.fila1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: auto;
    margin-top: 40px;
}

.fila1 img{
    width: 350px;
    height: auto;
    border-radius: 15px;
}

h3{
    font-family: 'Source Sans Pro', sans-serif;
    text-align: left;
    font-weight: 400;
    font-size: 1.7em;
    margin-top: 8px;
}

.boton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

h4{
    font-family: 'Source Sans Pro', sans-serif;
    text-align: left;
    font-weight: 600;
    font-size: 2em;
    color: #DB5212;
    margin-right: 20px;
}

.boton a{
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 1.7em;
    color: #F8B037;
    background-color: white;
    text-decoration: none;
    padding: 5px;
}

.boton a:hover{
    background-color: #F8B037;
    color: #DB5212;
}

.uno, .dos, .tres{
    margin: 20px;
}

.fila2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.fila2 img{
    width: 350px;
    height: auto;
    border-radius: 15px;
}

/* .fila3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 40px;
}

.fila3 img{
    width: 350px;
    height: auto;
    border-radius: 15px;
} */

footer{
    display: flex;
    flex-direction: row;
    background-color: rgb(17, 17, 17);
    width: 100%;
    height: auto;
    margin-top: 50px;
}

.blanco{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.623);
    clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 0% 100%);
}

.zorro{
    display: flex;
    justify-content: center;
    margin-right: 15%;
}

.zorro img{
    width: 200px;
    height: auto;
    margin-top: 20px;
}

.redes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
    margin-top: 20px;
    margin-bottom: 25px;
    margin-right: 15%;
}

.redes img{
    width: 50px;
    height: auto;
    margin-left: 20px;
}

.black{
    display: flex;
    flex-direction: row;
    width: 60%;
    height: auto;
}

.tienda{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
    margin-top: 20px;
    margin-left: 20%;
}

.tienda h3{
    font-family: 'Source Sans Pro', sans-serif;
    text-align: left;
    font-weight: 600;
    font-size: 2em;
    color: white;
}

.tienda a{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    line-height: 1.7em;
    text-decoration: none;
    color: white;
    text-align: left;
}

.enlaces{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
    margin-top: 20px;
}

.enlaces h3{
    font-family: 'Source Sans Pro', sans-serif;
    text-align: left;
    font-weight: 600;
    font-size: 2em;
    color: white;
}

.enlaces a{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    line-height: 1.7em;
    text-decoration: none;
    color: white;
    text-align: left;
}